<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHGf5iuHJTTJXHlWHTrDsmp5Lo1b0Y1KY</string>
	<key>GCM_SENDER_ID</key>
	<string>821628289384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.group33ShoppingListApp</string>
	<key>PROJECT_ID</key>
	<string>group33-shopping-list-app</string>
	<key>STORAGE_BUCKET</key>
	<string>group33-shopping-list-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821628289384:ios:7b56f9a488c4a2eef696dd</string>
</dict>
</plist>